.cart--container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 25px;
	justify-content: center;
	align-items: center;
	color: white;
}

.cart--empty {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.cart--empty--text {
	font-family: "SSRegular";
	font-size: xx-large;
	color: white;
	font-weight: 900;
	letter-spacing: 1px;
}
.cart--empty--link {
	font-family: "SSRegular";
	font-size: large;
	color: white;
	font-weight: 900;
	letter-spacing: 1px;
	text-decoration: none;
	border: 1px solid grey;
	padding: 10px 20px;
	border-radius: 25px;
	margin-top: 5px;
	transition: all 0.2s;
}

.cart--empty--link:hover {
	background-color: black;
	border: 1px solid black;
	transition: all 0.2s;
}

.cart--emptyButton {
	width: 200px;
	background-color: red;
	padding: 5px 10px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.2s;
	color: white;
	text-transform: uppercase;
	font-family: "SSRegular";
}

.cart--emptyButton:hover {
	background-color: orangered;
	transition: all 0.2s;
}
.cart--checkout {
	width: 200px;
	background-color: greenyellow;
	padding: 5px 10px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.2s;
	text-decoration: none;
	color: black;
}

.cart--checkout:hover {
	background-color: green;
	transition: all 0.2s;
}
