.itemCount--container {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
}

.itemCount--buttons--container {
	width: 100%;
	padding: 20px;
	margin: 5px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.itemCount--buttons--button {
	margin: 5px;
	padding: 10px 5px;
	background-color: transparent;
	color: white;
	text-transform: uppercase;
}

.itemCount--buttons--button:hover {
	background-color: rgb(71, 68, 68);
	cursor: pointer;
}

.itemCount--buttonBuy {
	width: 150px;
	height: 25px;
	cursor: pointer;
	margin-top: 20px;
}

.itemCount--buttonBuy:hover {
	background-color: yellow;
}

.itemCount--groupButtons {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.itemCount--link {
	width: 129px;
	height: 25px;
	color: white;
	padding: 3px 10px;
	border: 1px solid black;
	background-color: grey;
	cursor: pointer;
	margin: 2px;
	text-decoration: none;
	font-family: "SSThin";
	font-size: small;
}

.itemCount--link:hover {
	background-color: orange;
}
