.checkout--container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkout--msg {
	width: 100%;
	padding: 20px;
	color: turquoise;
	font-size: large;
	text-align: center;
}

.checkout--msg--id {
	color: orange;
	text-decoration: underline;
	font-size: xx-large;
	margin-left: 15px;
}

.checkout--form {
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.checkout--form--label {
	width: 250px;
	padding: 15px 5px 5px 5px;
	text-align: start;
	display: flex;
	text-transform: capitalize;
	justify-content: space-between;
	color: greenyellow;
}

.checkout--form--input {
	padding-left: 5px;
	text-transform: capitalize;
	border: none;
}

.checkout--form--button {
	padding: 10px 35px;
	margin-top: 20px;
	border-radius: 20px;
	border: none;
	transition: all 0.3s;
	cursor: pointer;
	background-color: pink;
}

.checkout--form--button:hover {
	background-color: black;
	color: white;
	transition: all 0.3s;
}
