@keyframes change-color {
	0% {
		color: #69b7eb;
	}
	50% {
		color: #b3dbd3;
	}
	100% {
		color: #f4d6db;
	}
}
@keyframes change-bg {
	0% {
		background: #a8c0ff; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to right,
			#3f2b96,
			#a8c0ff
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#3f2b96,
			#a8c0ff
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	50% {
		background: #333333; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to right,
			#dd1818,
			#333333
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#dd1818,
			#333333
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	100% {
		background: #355c7d; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to right,
			#c06c84,
			#6c5b7b,
			#355c7d
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#c06c84,
			#6c5b7b,
			#355c7d
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
}

.home--container {
	width: 100%;

	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: change-bg 5s ease infinite;
}

.home--h1 {
	font-family: "SSBold";
	font-size: 50px;
	text-transform: uppercase;
	animation: change-color 3s ease infinite;
}
