.app--container {
	width: calc(100vw - (100vw - 100%));
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: linear-gradient(
		113deg,
		rgba(95, 10, 135, 0.958420868347339) 27%,
		rgba(164, 80, 139, 0.9556197478991597) 93%
	);
}

.cards--container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
}
